@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
*{
    box-sizing: border-box;
    font-family:'Inter' 'Be Vietnam Pro', sans-serif;
    line-height: 1.7em;
    margin:0%;
    padding: 0%;
}
body{
    background-color:  #E3E3E3;
}

/*--------------------------------------Accesibilidad---------------------------------------*/

#accesibilidad-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}

#accesibilidad-menu ul {
    list-style-type: none;
    padding: 0;
}

#accesibilidad-menu li {
    margin-bottom: 5px;
}

#accesibilidad-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

#accesibilidad-menu li a:hover {
    background-color: white;
}
/*----------------------------------------------home--------------------------------------------*/

.containerImg {
    background-color: #ED3030; /* Fondo rojo para el contenedor */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    width: 100%; /* Ancho del contenedor */
    height: 40%; /* Altura del contenedor */
  }
  .containerImg img {
    width: 70%;
  }
  header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px 56px;
    width: 100%;
}
.sidebar {
    background-color: #333;
    height: 100%;
    width: 300px;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sidebar a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    display: block;
  }
  .sidebar a:hover {
    background-color: #E3E3E3;
    color: black;
  }
/* ---------------------------el main de home----------------------- */
.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #E3E3E3;
}

.botones-container {
    margin-left: 25%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-gap: 60px; /* Espacio entre botones */
    margin-bottom: 1%;
}

.button-home {
    border: 2px solid black;
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}
button:hover {
    background-color: #333; /* Cambiar color de fondo al pasar el mouse */
    color: white;
}
button:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); /* Sombra interna */
}

/*----------------------------------Registro Usuario-------------------------------------------------*/
.section-registro {
    max-width: 600px;
    margin: 10%;
    padding: 20px;
    border: 1px solid  #E3E3E3;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 3%;
}
.header-registro{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
}
.h2-registro {
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

.input-registro, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-registro {
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-registro:hover {
    background-color: #E3E3E3;
    color: black;
}

/*----------------------------------Conultar Usuario------------------------------------------------*/

.header-consultarUsuario {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 12%;
}
.section-consultarUsuario{
    margin-left: 500px;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}
.div-consultarUsuario{
    display: flex;
    align-items: center;
    margin-bottom: 4%;

}
.div-consultarUsuario label{
    width: 80%;
    font-size: 28px;
}
.div-consultarUsuario input[type="text"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.div-BtnConsultarUsuario button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}
.titulo-CosultarUsuario {
    margin-bottom: 10px;
}

/*----------------------------------Registro Pago-------------------------------------------------*/
.header-registroPago{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
}

.section-pago {
    max-width: 600px;
    margin: 10%;
    padding: 20px;
    border: 1px solid  #E3E3E3;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 3%;
}

.h1-registroPago {
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

.input-registroPago, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-registroPago {
    padding: 10px 20px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-registroPago:hover {
    background-color: #E3E3E3;
    color: black;
}

/*----------------------------------Conultar Usuario------------------------------------------------*/

.header-consultarUsuario {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 12%;
}
.section-consultarUsuario{
    margin-left: 500px;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}
.div-consultarUsuario{
    display: flex;
    align-items: center;
    margin-bottom: 4%;

}
.div-consultarUsuario label{
    width: 80%;
    font-size: 28px;
}
.div-consultarUsuario input[type="text"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.div-BtnConsultarUsuario button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}
.titulo-CosultarUsuario {
    margin-bottom: 10px;
}

/*----------------------------------Consultar Membresia------------------------------------------------*/

.header-consultaMembresia {
   display: flex;
   justify-content: space-between;
   padding-right: 0px;
   padding-left: 40%;
}
.titulo-consultaMembresia {
    color: black;
}
.subtitulo-consultaMembresia {
    margin-block: 7%;
    margin-left: 15%;
    text-align: center;
}
.button-consultarMembresia {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 33%;
}
.button-consultarMembresia button{
    text-align: center;
    color: white;
    width: 377px;
    height: 108px;
    background-color: #333;
    border-radius: 5px; /* Bordes redondeados */
}
.button-consultarMembresia button:hover {
    background-color: white; /* Cambiar color de fondo al pasar el mouse */
    color: #333;
}
.button-consultarMembresia button:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); /* Sombra interna */
}
.bottom-detalle {
    margin-left: 15%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
.bottom-detalle button{
    background-color: #333;
    border-radius: 5px; /* Bordes redondeados */
    color: white;
    margin-top: 4%;
    width: 240px;
    height: 58px;
}
.bottom-detalle button:hover {
    background-color: white; /* Cambiar color de fondo al pasar el mouse */
    color: #333;
}
.bottom-detalle button:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); /* Sombra interna */
}

/*-------------------------------------- Membresia Activa e inactiva-----------------------------------------------*/
.main-menbresiActiva{
    margin-left: 300px;
}

.conteiner-membresiasActivas {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 15%;
    padding: 4%;
}

.subtitutlos-membresiActiva {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.subtitutlos-membresiActiva h3 {
    margin: 0;
    padding: 5%;
}

.membresiActiva {
    background-color: #E3E3E3;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 2%;
}
.membresiActiva div{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.membresiActiva img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.membresiActiva h5 {
    margin: 0;
}
/*-------------------------------------- Evio Notificación-----------------------------------------------*/

.conteiner-envioNotificacion{
    width: 60%;
    margin: 10%;
}
.buscarNotificacion{
    display: flex;
    justify-content: space-between;
}
.buscarNotificacion label{
    width: 50%;
    font-size: 125%;
    
}

.buscarNotificacion input{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Establece el elemento para que aparezca cuando el ancho de la pantalla sea mayor a 900px */

@media(min-width:900px){

    /* Header para pantalla escritorio*/
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        }

    .buscarHeader{
        width: 5%;
        height: 30px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
    }
    .buscador {
        width: 40%;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 10%;
        background-image: "imagenes/lupa.jpg";
        background-position: 95% center;
      }
    .lupaImg{
        width: 4%;
        height: 30px;
        background-color: white;
    }
    .lupaImg img{
        width: 50%;
        height: 60%;
    }
      

    .item-nav{
        display: flex;
        justify-content: space-around;
    }

    .item-nav a{
        color: #242E52;
        font-weight: 700;
        padding: 14px;
        text-decoration: none;
    }

    .item-nav a:active{
        color: RGB(36,46,82,60%);
    }

    .navHambur{
        display: none;
        }

/* container 1 para pantalla escritorio*/
    .container1{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 86px 180px ;
    }
    .deportista{
        padding-right: 50px;
        padding-bottom: 0px;
        width: 540px;
    }

    .live{
        padding-left: 50px;
        width: 50%;
    }

    /* Container 2 y 5 para pantalla escritorio */
    /* container2 */

    .parrafoMovil{
        display: none;
    }
    .parrafoEscritorio{
        display: block;
    }

    .container2, .container5{
        align-items: center;
        background: #8B48BF;
        display: flex;
        flex-direction: row;
        height: 168px;
        justify-content: space-evenly;
        padding: 0px 40px; 
        
    }
    .container2 h2{
        height: 88px;
        line-height: 120%;
        width: 450px;
    }
    .parrafoEscritorio{ 
        height: 88px;
        width: 450px;
    }

   /*  Container 5 */

    .container5{
        height: 224px;
        justify-content: space-between;
        padding: 0px 180px;
        
    }
    .container5 h2{
        font-weight: bold;
        font-size: 2.4rem;
        height: 96px;
        line-height: 48px;
        text-align: left;
        width: 393px;
    }

    .goFor{
        background: white;
        color: #8B48BF;
    }
        /* Container 3  para pantalla escritorio */
    .container3{
        background: rgba(250, 250, 250, 1);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0px;
        padding: 40px;
    }
    
    .container3 article{
        width: 50%;
        padding: 12px 25px;
    }
    
    .container3 h3{
        background: rgba(250, 250, 250, 1);
        padding: 10px 10px 10px 88px;
        margin: 0px;
    }
    
    .texto{
        padding-left: 88px;
    }

    /* container 4 para pantalla escritorio*/
    
    .ocultar{
        display: block;
    }

    .containerAvatares{
        display: flex;
    }
    
    /* Footer para pantalla escritorio*/
    Footer{
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 43px 160px ;
    }
    /* Articulo footer */

    .articleFooter{
        align-items: flex-start;
        display: flex;
        order: -1;
        justify-content: space-between;
        width: 20%;
    }

    .redes{
        order:-1;
        padding-bottom: 0;
    }

    .redes img{
        margin:6px;
    }

    /* Menu */
    .menuFooter{
        padding: 0px;
        width: 50%;
       
    }

    /* Formulario */

    Footer form{
        order:0;
        text-align: end;
        width: 30%;
    }
    
    #inbox{
        width: 201px;
    }

    /* Parrafo footer */
    footer p{
        display: inline;
        padding: 0px;
        text-align: right;
    }
}
