@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
*{
    box-sizing: border-box;
    font-family:'Inter' 'Be Vietnam Pro', sans-serif;
    line-height: 1.7em;
    margin:0%;
    padding: 0%;
}
body{
    background-color:  #E3E3E3;
}

/*--------------------------------------Accesibilidad---------------------------------------*/

#accesibilidad-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
}

#accesibilidad-menu ul {
    list-style-type: none;
    padding: 0;
}

#accesibilidad-menu li {
    margin-bottom: 5px;
}

#accesibilidad-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

#accesibilidad-menu li a:hover {
    background-color: white;
}
/*----------------------------------------------home--------------------------------------------*/

.containerImg {
    background-color: #ED3030; /* Fondo rojo para el contenedor */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    width: 100%; /* Ancho del contenedor */
    height: 40%; /* Altura del contenedor */
  }
  .containerImg img {
    width: 70%;
  }
  header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px 56px;
    width: 100%;
}
.sidebar {
    background-color: #333;
    height: 100%;
    width: 300px;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sidebar a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    display: block;
  }
  .sidebar a:hover {
    background-color: #E3E3E3;
    color: black;
  }
/* ---------------------------el main de home----------------------- */
.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #E3E3E3;
}

.botones-container {
    margin-top: 100px;
    margin-left: 25%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-gap: 60px; /* Espacio entre botones */
    margin-bottom: 1%;
}

.button-home {
    border: 2px solid black;
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}
button:hover {
    background-color: #333; /* Cambiar color de fondo al pasar el mouse */
    color: white;
}
button:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); /* Sombra interna */
}

/*----------------------------------Registro Usuario-------------------------------------------------*/
.section-registro {
    max-width: 600px;
    margin: 10%;
    padding: 20px;
    border: 1px solid  #E3E3E3;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 3%;
}
.header-registro{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
}
.h2-registro {
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

.input-registro, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-registro {
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 50px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-registro:hover {
    background-color: #E3E3E3;
    color: black;
}

/*----------------------------------Conultar Usuario------------------------------------------------*/

.header-consultarUsuario {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 12%;
}
.section-consultarUsuario{
    margin-left: 500px;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}
.div-consultarUsuario{
    display: flex;
    align-items: center;
    margin-bottom: 4%;

}
.div-consultarUsuario label{
    width: 80%;
    font-size: 28px;
}
.div-consultarUsuario input[type="text"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.div-BtnConsultarUsuario button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}
.titulo-CosultarUsuario {
    margin-bottom: 10px;
}

/*----------------------------------Registro Pago-------------------------------------------------*/
.header-registroPago{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
}

.section-pago {
    max-width: 600px;
    margin: 10%;
    padding: 20px;
    border: 1px solid  #E3E3E3;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 3%;
}

.h1-registroPago {
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

.input-registroPago, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button-registroPago {
    padding: 10px 20px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-registroPago:hover {
    background-color: #E3E3E3;
    color: black;
}

/*----------------------------------Conultar Usuario------------------------------------------------*/

.header-consultarUsuario {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 12%;
}
.section-consultarUsuario{
    margin-left: 500px;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}
.div-consultarUsuario{
    display: flex;
    align-items: center;
    margin-bottom: 4%;

}
.div-consultarUsuario label{
    width: 80%;
    font-size: 28px;
}
.div-consultarUsuario input[type="text"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.div-BtnConsultarUsuario button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}
.titulo-CosultarUsuario {
    margin-bottom: 10px;
}

/*----------------------------------Consultar Membresia------------------------------------------------*/

.header-consultaMembresia {
   display: flex;
   justify-content: space-between;
   padding-right: 0px;
   padding-left: 40%;
}
.titulo-consultaMembresia {
    color: black;
}
.subtitulo-consultaMembresia {
    margin-block: 7%;
    margin-left: 15%;
    text-align: center;
}
.button-consultarMembresia {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 33%;
}
.button-consultarMembresia button{
    text-align: center;
    color: white;
    width: 377px;
    height: 108px;
    background-color: #333;
    border-radius: 5px; /* Bordes redondeados */
}
.button-consultarMembresia button:hover {
    background-color: white; /* Cambiar color de fondo al pasar el mouse */
    color: #333;
}
.button-consultarMembresia button:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); /* Sombra interna */
}
.bottom-detalle {
    margin-left: 15%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
.bottom-detalle button{
    background-color: #333;
    border-radius: 5px; /* Bordes redondeados */
    color: white;
    margin-top: 4%;
    width: 240px;
    height: 58px;
}
.bottom-detalle button:hover {
    background-color: white; /* Cambiar color de fondo al pasar el mouse */
    color: #333;
}
.bottom-detalle button:active {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3); /* Sombra interna */
}

/*-------------------------------------- Membresia Activa e inactiva-----------------------------------------------*/
.main-menbresiActiva{
    margin-left: 300px;
}

.conteiner-membresiasActivas {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 15%;
    padding: 4%;
}

.subtitutlos-membresiActiva {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.subtitutlos-membresiActiva h3 {
    margin: 0;
    padding: 5%;
}

.membresiActiva {
    background-color: #E3E3E3;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 2%;
}
.membresiActiva div{
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.membresiActiva img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.membresiActiva h5 {
    margin: 0;
}

/*-------------------------------------- Evio Notificación-----------------------------------------------*/

.conteiner-envioNotificacion{
    width: 60%;
    margin: 10%;
}
.buscarNotificacion{
    display: flex;
    justify-content: space-between;
}
.buscarNotificacion label{
    width: 50%;
    font-size: 125%;
    
}

.buscarNotificacion input{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#notification-form {
    /* Adjust styling as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the label */
  .notification-form label {
    display: block; /* Display on a new line */
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style the textarea */
  .notification-form textarea {
    width: 100%; /* Make it occupy full width */
    resize: vertical; /* Allow vertical resizing */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style the button */
  .notification-form button {
    background-color: #333; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Indicate clickable behavior */
  }
/*-------------------------------------- Evio Notificación-----------------------------------------------*/

footer{
    margin-left: 300px;
}

@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .articleFooter {
    animation: aparecer 0.5s ease-in-out;
  }

.logoFooter {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .logoFooter:hover {
    transform: translateY(-10px);
  }
  .notification-form button:hover {
    background-color:#ccc ;
    color: black;
  }


  .redes img {
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
  }
  
  .redes img:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  




/* Establece el elemento para que aparezca cuando el ancho de la pantalla sea mayor a 900px */

@media(min-width:900px){

    /* Header para pantalla escritorio*/
    header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        }

    .buscarHeader{
        width: 5%;
        height: 30px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
    }
    .buscador {
        width: 40%;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 10%;
        background-image: "imagenes/lupa.jpg";
        background-position: 95% center;
      }
    .lupaImg{
        width: 4%;
        height: 30px;
        background-color: white;
    }
    .lupaImg img{
        width: 50%;
        height: 60%;
    }
      

    .item-nav{
        display: flex;
        justify-content: space-around;
    }

    .item-nav a{
        color: #242E52;
        font-weight: 700;
        padding: 14px;
        text-decoration: none;
    }

    .item-nav a:active{
        color: RGB(36,46,82,60%);
    }

    .navHambur{
        display: none;
        }

/* container 1 para pantalla escritorio*/
    

    .parrafoMovil{
        display: none;
    }
    .parrafoEscritorio{
        display: block;
    }

   
    .parrafoEscritorio{ 
        height: 88px;
        width: 450px;
    }

    /* Footer para pantalla escritorio*/
    Footer{
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 43px 160px ;
    }
    /* Articulo footer */

    .articleFooter{
        align-items: flex-start;
        display: flex;
        order: -1;
        justify-content: space-between;
        width: 20%;
    }

    .redes{
        order:-1;
        padding-bottom: 0;
    }

    .redes img{
        margin:6px;
    }

    /* Menu */
    .menuFooter{
        padding: 0px;
        width: 50%;
       
    }

    /* Formulario */

    Footer form{
        order:0;
        text-align: end;
        width: 30%;
    }
    

    /* Parrafo footer */
    footer p{
        display: inline;
        padding: 0px;
        text-align: right;
    }
}
